body,
html {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin: 0;
	padding: 0;
}
#content {
	margin: 0 1em;
}
.ui.list a {
	cursor: pointer;
}
.ui.list a {
	color: #009FDA;
	text-decoration: none;
}
.ui.list a:hover {
	color: #00BAFF;
}
#viewFrame {
	width:100%;
	border:none;
	maring:0;
	padding:0;
	display:none;
}
