doctype 5
html
	head
		link(href=scripts.semantic_css, rel="stylesheet",type="text/css")
		link(href="/css/style.css", rel="stylesheet", type="text/css")
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		block head
	body
		block body
		script(src=scripts.jquery)
		script(src=scripts.semantic_js)
		block scripts
