extends main

block content
	each post in posts
		.segment
			h2.ui.header
				= post.title
				.sub.header
					= "By "+post.author+" at "
					time(datetime=post.timestamp)= post.date
			p= post.content
