extends blog/main

block content
	.ui.center.aligned.header Sign in with
	.3.fluid.ui.buttons
		a.ui.twitter.button
			i.twitter.icon
		.or
		.ui.google.plus.button
			i.google.plus.icon
		.or
		.ui.facebook.button
			i.facebook.icon
