//- list format {description:"",items:[{title:"",description:"",url:"",icon:""}]}
extends main

block content
	p=list.description
	.ui.divided.list
		each item in list.items
			.item
				i(class="circular "+item.icon+" icon")
				.content
					a.header(href=item.url)= item.title
					.description= item.description
